html,
body {
  margin: 0;
  font-family: "Helvetica";
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.logo {
  grid-column: 2;
  max-height: 6rem;
}

.container {
  width: 40%;
  margin: auto;
  padding: 20px;
}

.taskwriter {
  text-align: center;
  padding: 30px;
}

article p {
  font-size: 1.3rem;
  margin: 10px;
}

article {
  border: solid 1px black;
  border-radius: 50px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

article > div {
  padding: 10px;
}

.info-element {
  width: 80%;
}

.taskButtons {
  height: 50px;
  width: 50px;
  font-size: 30px;
  transition: color 0.1s;
  text-align: center;
}

.removeButton {
  color: rgb(245, 200, 200);
}

.removeButton:hover {
  cursor: pointer;
  color: rgb(245, 44, 44);
}

.checkButton {
  color: rgb(230, 230, 230);
}

.checkButton:hover {
  cursor: pointer;
  color: rgb(210, 210, 210);
}

.active {
  color: rgb(120, 220, 120);
}

.active:hover {
  color: rgb(120, 245, 120);
}

@keyframes removeButtonAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-70vw);
  }
}

span {
  font-weight: bold;
}

.defaultButton {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  border-radius: 16px;
  margin: 10px;
}

.defaultButton:hover {
  background-color: rgb(230, 230, 230);
}

.inputBox {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  border-radius: 16px;
}
